<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://azfunctionappp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e2740f8e-fea4-477c-a768-622bd87fb632/resourceGroups/azResourceGroupP/providers/Microsoft.Web/sites/azFunctionAppP</ResourceId>
    <UserName>$azFunctionAppP</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://azfunctionappp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>